/* Para llamar a un elemento se pone directamente el nombre de la etiqueta 
    Y TODAS LAS ETIQUETAS que correspondan a ese nombre
    se les va a aplicar el siguiente estilo */

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu-item {
    margin: 10px;
    font-family: Helvetica, Futura, Arial, Verdana, sans-serif;
    text-decoration: underline green;
}


#principal{ 
    margin:auto; 
    display: block;
    width: 100%; 
    }

.enlaces {
    display: flex; 
    list-style: none; 
    justify-content:space-evenly;
    padding: 70px; 
}

.primero {
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px grey;
}

.segundo {
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px grey;
}

.tercero {
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px grey;
}


.pie {
    display: flex; 
    list-style: none; 
    justify-content:space-around;
    align-items:center;
    background-color: black;
    height: 200px; 
    
}



body {
    margin: 0px;
    padding: none; 
}