/* Para llamar a un elemento se pone directamente el nombre de la etiqueta 
    Y TODAS LAS ETIQUETAS que correspondan a ese nombre
    se les va a aplicar el siguiente estilo */

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu-item {
    margin: 10px;
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    text-decoration: underline;
}